/*


.edit {
    height: 1.2rem;
}

    .edit:hover {
        transform: scale(1.1);
    }

.tabla {
    overflow: auto;
    max-height: 19vh;
}

.main-catalogos {
}*/



.editar {
    height: 1.5rem;
}

    .editar:hover {
        transform: scale(1.1);
    }

.text {
    width: 90%;
    margin: auto;
    border: #652022 solid 2px;
    border-radius: 5px;
    padding-top: 2%;
}

@media (max-width: 990px) {
    .salto{
        display:none;
    }
}
