* {
    box-sizing: border-box;
    margin: 0;
}

main {
    width: 100%;
    height: 100vh;
}

.radius {
    border-radius: 7px 0 0 7px;
}

.radius-b {
    border-radius: 0 7px 7px 0;
}

.bg-R {
    background: #652022;
}

.border-R {
    border: #652022 solid 2px;
}

.color-R {
    color: #652022;
}

.bg-index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/login/bg-Index.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-login {
    width: 55%;
    margin: auto;
}

.img-content {
    height: 58vh;
    background-image: url('../images/login/Edificio.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.edificio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form {
    height: 58vh;
}

.logo {
    width: 90%;
    margin: auto;
}

.sesion-input {
    position: relative;
    width: 90%;
    margin: auto;
}

.label {
    font-weight: bold;
    color: #652022;
}

.email, .pass {
    width: 100%;
    padding: 1%;
    background-color: #f8f9fa;
    border: none;
    border-bottom: 2px solid #e50914;
    color: #333;
    font-size: 14px;
    transition: border-bottom 0.3s ease;
}

a {
    color: #652022;
    text-decoration: none;
}

    a:hover {
        color: #652022;
        text-decoration: underline;
    }

.boton {
    width: 100%;
    padding: 2%;
    border: 2px solid #652022;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: inherit;
    color: #652022;
    border-radius: 10px;
}


    .boton:hover {
        color: #fff;
        background: #652022;
    }


@media (max-width: 1050px) {
    .body-login {
        width: 95%;
        margin: auto;
    }

    .img-content {
        height: 38vh;
    }

    .radius {
        border-radius: 7px 7px 0 0;
    }

    .radius-b {
        border-radius: 0 0 7px 7px;
    }

    .form {
        height: auto;
    }
}
