th {
    background: #652022;
    color: aliceblue;
    position: sticky;
    top: -1%;
    z-index: 1;
}
td{
    padding:.5%;
}

.pagination {
    display: inline-block;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

        .pagination a:hover {
            background-color: #ddd;
        }

.fila-dato {
    display: none;
}

/*TABLA DE EQUIPO*/
#Nserie {
    width: 5%;
    text-align: center;
}


/*ICONOS*/
.detalles {
    width: 2.5rem;
    cursor: pointer;
}

.remover {
    width: 2rem;
    cursor: pointer;
}

    .detalles:hover, .remover:hover {
        transform: scale(1.1)
    }

@media (max-width: 990px) {
    table.equipos td:nth-child(4),
    table.equipos td:nth-child(5),
    table.equipos td:nth-child(6),
    table.equipos td:nth-child(9), #Motor, #Capacidad, #Cantidad, #estado {
        display: none;
    }
}

