/*--------- Mantenimientos --------- */
/*.contenedor{
    border: 2px solid black;
    border-radius: 10px;
}

.botonBuscar:hover {
    background: #8bb989;
    color: #ffffff;
}

.botonBuscar {
    border: 1px solid #7b7676;
    font-family: inherit;
    background: #d5e8d4;
    border-radius: 5px;
    font-weight: bold;
    color: #545151;
}


.opciones {
    width: 100%;
}*/
