@model Condominios.Models.Entities.Variante

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Variante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="MarcaID" class="control-label"></label>
                <select asp-for="MarcaID" class="form-control" asp-items="ViewBag.MarcaID"></select>
                <span asp-validation-for="MarcaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorID" class="control-label"></label>
                <select asp-for="MotorID" class="form-control" asp-items="ViewBag.MotorID"></select>
                <span asp-validation-for="MotorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodoID" class="control-label"></label>
                <select asp-for="PeriodoID" class="form-control" asp-items="ViewBag.PeriodoID"></select>
                <span asp-validation-for="PeriodoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionID" class="control-label"></label>
                <select asp-for="FuncionID" class="form-control" asp-items="ViewBag.FuncionID"></select>
                <span asp-validation-for="FuncionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEquipoID" class="control-label"></label>
                <select asp-for="TipoEquipoID" class="form-control" asp-items="ViewBag.TipoEquipoID"></select>
                <span asp-validation-for="TipoEquipoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

