<section class="row border-R text-center mt-3 rounded-2">
    <h1><span class="color-R">A</span>dministración</h1>
</section>

<section class="row border-R text-center mt-3 rounded-2">
    <article class="col-lg-2 col-12 d-flex align-items-center justify-content-center border-R p-2">
        <img src="~/images/user-solid.svg" class="usuario"/>
    </article>
    <article class="col bg-R text-light text-center">
        <h3><b>Administrador</b></h3>

        <div class="row">
            <div class="col-4  text-start">
                <div class="row ">
                    <h4><b>Nombre:</b></h4>
                </div>

                <div class="row pt-2">
                    <h4><b>Correo:</b></h4>
                </div>

                <div class="row pt-2 ">
                    <h4><b>Contraseña:</b></h4>
                </div>
            </div>

            <div class="col-4  d-flex  flex-column justify-content-around text-start">
                <div class="row  ">
                    <input type="text" placeholder="Nombre" class="formUsuario">
                </div>

                <div class="row ">
                    <input type="text" placeholder="Correo" class="formUsuario">
                </div>
                
                <div class="row ">
                    <input type="text" placeholder="Contraseña" class="formUsuario">
                </div>
            </div>

            <div class="col-4  d-flex align-items-center flex-column justify-content-around text-start">
                
                <div class="row text-start">
                    <img src="~/images/pen-to-square-solidW.svg" class="editarUsuario" />
                </div>

                <div class="row text-start">
                    <img src="~/images/pen-to-square-solidW.svg" class="editarUsuario" />
                </div>

                <div class="row text-start">
                    <img src="~/images/pen-to-square-solidW.svg" class="editarUsuario" />
                </div>

            </div>

        </div>

    </article>
</section>
