@model Condominios.Models.DTOs.UsuarioDTO
﻿@{
    ViewData["Title"] = "Contraseña";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Condominios.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />



</head>
<body>


    <main class="bg-index container-fluid">

        <div class="container bg-white">
            <div class="row mt-5">
                <div class="col-12">
                    <img src="~/images/login/Logo.svg" alt="Logo" class="">
                </div>
                <div class="col-12">
                    <h2 class="text-center">Restablecer contraseña</h2>
                </div>
            </div>

            @if (ViewBag.Cambiopas != null)
            {
                <div class="row">
                    <div class="col-8 mx-auto mt-5 pb-3" style="border: 2px solid red; border-radius: 5px ">
                        <h2 class="m-3 text-center">Aviso</h2>
                        <p class="text-center"><span class="text-danger m-3"><b> @ViewBag.Cambiopas</b></span></p>
                    </div>
                </div>

                <div class="row mt-5 mb-5">
                    <div class="col-8 mx-auto">
                        <a asp-action="Login"><p class="text-center"><b id="registrar">Iniciar sesion</b></p></a>
                    </div>
                </div>
            }
            else
            {
                <form asp-action="CambiarPassword" class="row mt-5 mb-5">
                    <input type="hidden" name="token" value="@Context.Request.Query["token"]" />
                    <div class="col-8 mx-auto">
                        <label asp-for="Password" for="exampleInputPassword1" class="label">Contraseña nueva</label>
                        <input asp-for="Password" type="password" class="pass">
                    </div>
                    <div class="col-8 mx-auto">
                        <label asp-for="ConfPassword" for="exampleInputPassword1" class="label">Confirmar contraseña</label>
                        <input asp-for="ConfPassword" type="password" class="pass">
                    </div>
                    <div class="col-8 mx-auto">
                        @if (ViewBag.Cambio != null)
                        {
                            <p class="text-center"><span class="text-danger m-3"><b> @ViewBag.Cambio</b></span></p>
                        }
                    </div>
                    <div class="col-8 mx-auto mt-5">
                        <input type="submit" value="Restablecer" class="boton" />
                    </div>
                </form>
            }
        </div>

    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>