@model Condominios.Models.ViewModels.SesionViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Condominios.styles.css" asp-append-version="true" />
</head>
<body>
    <main class="bg-index container-fluid">

        <article class="row body-login ">

            <section class="col-12 col-lg-7 img-content position-relative radius">
                <img src="~/images/login/Edificio.jpeg" alt="Condominio" class="edificio radius">
            </section>

            <section class="col-12 col-lg-5 bg-light form radius-b text-center">
                @* Logo *@
                <section class="row pt-2">
                    <img src="~/images/login/Logo.svg" alt="Logo" class="logo">
                </section>

                <form asp-action="ValidarAcceso" id="form">
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                    @* Bienvenida *@
                    <section class="row text-center">
                        <h2>
                            <b>
                                <span class="color-R">I</span>niciar sesi<span class="color-R">ó</span>n
                            </b>
                        </h2>
                    </section>

                    @* Correo *@

                    <section class="row mt-2">
                        <div class="sesion-input">
                            <label asp-for="Correo" for="exampleInputEmail1" class="label">Dirección de correo eléctronico</label>
                            <input asp-for="Correo" type="email" class="email">
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                    </section>

                    @* Contraseña *@

                    <section class="row pt-3">
                        <div class="sesion-input">
                            <label asp-for="Clave" for="exampleInputPassword1" class="label">Contraseña</label>
                            <input asp-for="Clave" type="password" class="pass">
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>
                    </section>

                    @* Registrarse *@
                    <section class="row mt-2 text-center">
                        <p>¿Aún no tienes una cuenta? <b id="registrar">Registrate aquí</b></p>
                    </section>

                    @* Olvidaste tu contraseña *@
                    <section class="row mb-2 text-center">
                        <b>
                            <a href="">¿Olvidaste tu contraseña?</a>
                        </b>
                    </section>

                    <section class="row pb-3">
                        <div class="sesion-input">
                            <input type="submit" value="Iniciar sesión" class="boton" />
                        </div>
                    </section>

                </form>

                @* Registrar *@
                <form id="formRegistrar" class="d-none">
                    <section class="row text-center">
                        <h2>
                            <b>
                                <span class="color-R">R</span>egistrate
                            </b>
                        </h2>
                    </section>

                    @* Nombre *@
                    <section class="row pt-3">
                        <div class="sesion-input">
                            <label class="label">Nombre</label>
                            <input type="text" class="pass">
                        </div>
                    </section>

                    <section class="row pt-3">
                        <div class="sesion-input">
                            <label  class="label">Correo</label>
                            <input type="email" class="pass">
                        </div>
                    </section>

                    <section class="row pt-3">
                        <div class="sesion-input">
                            <label class="label">Contraseña</label>
                            <input type="password" class="pass">
                        </div>
                    </section>
                    <section class="row pt-2 pb-3">
                        <div class="sesion-input">
                            <input type="submit" value="Registrarse" class="boton" />
                        </div>
                    </section>
                </form>


            </section>

        </article>

    </main>
    <script>
        const registrar = document.getElementById('registrar');
        const formulario = document.getElementById('form');
        const formularioR = document.getElementById('formRegistrar');
        if (registrar) {
            registrar.addEventListener('click', () => {
                formulario.classList.add("d-none")
                formularioR.classList.toggle("d-none")
            });
        }


    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>


