@model Condominios.Models.DTOs.UsuarioDTO
﻿@{
    ViewData["Title"] = "Correo";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Condominios.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />



</head>
<body>

    <main class="bg-index container-fluid">
        <article class="row body-login ">

            <section class="col-12 col-lg-7 img-content position-relative radius">
                <img src="~/images/login/Edificio.jpeg" alt="Condominio" class="edificio radius">
            </section>

            <section class="col-12 col-lg-5 bg-light form radius-b text-center">
                @* Logo *@
                
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-12">
                            <img src="~/images/login/Logo.svg" alt="Logo" class="">
                        </div>
                        <div class="col-12">
                            <h2 class="text-center">Recuperar cuenta</h2>
                        </div>
                    </div>

                    @if (ViewBag.Recuperado != null)
                    {
                        <div class="row">
                            <div class="col-8 mx-auto mt-5 pb-3" style="border: 2px solid red; border-radius: 5px ">
                                <h2 class="m-3 text-center">Aviso</h2>
                                <p class="text-center"><span class="text-danger m-3"><b> @ViewBag.Recuperado</b></span></p>
                            </div>
                        </div>

                        <div class="row mt-5 mb-5">
                            <div class="col-8 mx-auto">
                                <a asp-action="Login"><p class="text-center"><b id="registrar">Regresar</b></p></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <form asp-action="Recuperar" class="row mt-5 mb-5">
                            <div class="col-8 mx-auto">
                                <label asp-for="Correo" for="exampleInputEmail1" class="label">Ingrese su correo eléctronico</label>
                                <input asp-for="Correo" type="email" class="email">
                            </div>
                            <div class="row mt-3">
                                <div class="col-8 mx-auto">
                                    <a asp-action="Login"><p class="text-center"><b id="registrar">Regresar</b></p></a>
                                </div>
                            </div>
                            <div class="col-8 mx-auto mt-1">
                                <input type="submit" value="Recuperar" class="boton" />
                            </div>
                        </form>
                        
                    }
                </div>
            </section>

        </article>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>