@model Condominios.Models.DTOs.UsuarioDTO

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Condominios.styles.css" asp-append-version="true" />
</head>
<body>
    <main class="bg-index container-fluid">

        <article class="row body-login ">

            <section class="col-12 col-lg-7 img-content position-relative radius">
                <img src="~/images/login/Edificio.jpeg" alt="Condominio" class="edificio radius">
            </section>

            <section class="col-12 col-lg-5 bg-light form radius-b text-center">
                @* Logo *@
                <section class="row pt-2">
                    <img src="~/images/login/Logo.svg" alt="Logo" class="logo">
                </section>

                @* Registrar *@
                <form asp-action="Registro">
                    <section class="row text-center">
                        <h2>
                            <b>
                                <span class="color-R">R</span>egistrate
                            </b>
                        </h2>
                    </section>

                    @* Nombre *@
                    <section class="row pt-2">
                        <div class="sesion-input">
                            <label class="label">Nombre</label>
                            <input asp-for="Nombre" type="text" class="pass">
                        </div>
                    </section>

                    <section class="row pt-2">
                        <div class="sesion-input">
                            <label class="label">Correo</label>
                            <input asp-for="Correo" type="email" class="pass">
                        </div>
                    </section>

                    <section class="row pt-2">
                        <div class="sesion-input">
                            <label class="label">Contraseña</label>
                            <input asp-for="Password" type="password" class="pass">
                        </div>
                    </section>
                    <section class="row pt-2">
                        <div class="sesion-input">
                            <label class="label">Confirmar contraseña</label>
                            <input asp-for="ConfPassword" type="password" class="pass">
                        </div>
                    </section>

                    <section class="row pt-4">
                        <div class="sesion-input">
                            @if (ViewBag.MensajeClave != null)
                            {
                                <span class="text-danger">@ViewBag.MensajeClave</span>
                            }
                        </div>
                    </section>


                    <section class="row mt-2 text-center">
                        <a asp-controller="Acceso" asp-action="Login"><p>¿Ya tienes cuenta? <b id="registrar">Iniciar sesion</b></p></a>
                    </section>
                    <section class="row pt-2 pb-3">
                        <div class="sesion-input">
                            <input type="submit" value="Registrarse" class="boton" />
                        </div>
                    </section>
                </form>
            </section>

        </article>

    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>


