@{
    ViewData["Title"] = "Usuarios";
    Layout = null;
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Condominios.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />



</head>
<body class="bg-acceso text-light text-center">

    <header class="bg-light">
        <div class="col-lg-2 col-6">
            <a class="navbar-brand" href="#">
                <img src="~/images/Logo.svg" width="100%" style="padding: 3%;">
            </a>
        </div>
    </header>

    <h1 class="pt-2 pb-2">Recuperar Correo</h1>
    <main class="d-flex justify-content-center align-items-center" style="flex: 1;">
        <section class="rounded-3 bg-light text-dark" style="width:45%; margin:auto;">
            <h4>Para recuperar el correo es necesario ingresar los siguientes datos</h4>
            <form style="width:70%; margin:auto;">

                <section class="row pt-3">
                    <div class="sesion-input">
                        <label class="label">Correo</label>
                        <input type="email" class="pass">
                    </div>
                </section>

                <section class="row pt-3 pb-3">
                    <div class="sesion-input">
                        <input type="submit" value="Recuperar" class="boton" />
                    </div>
                </section>

            </form>
        </section>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>




